<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand">eShop</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="products">
            <div class="product">
                <img src="./img/watch.jpg" alt="Product 1">
                <h3>Watch</h3>
            </div>
            <div class="product">
                <img src="./img/bottle.jpg" alt="Product 2">
                <h3>Flask</h3>
            </div>
            <div class="product">
                <img src="./img/shoe1 (2).jpg" alt="Product 3">
                <h3>Shoes</h3>
            </div>
            <div class="product">
                <img src="./img/dress.jpg" alt="Product 4">
                <h3>Tees</h3>
            </div>
        </section>
    </main>
    <br>
    <br>
    <center><h2><strong>To Purchase Products Click Login or Signup</strong></h2></center><br>
    <center><h2><strong>To See More Products Click Login or Signup</strong></h2></center>
    <br>
    <center><a href="/user/login" class="loginbutt">Login</a><a href="/user/register" class="loginbutt">Signup</a></center>
    <br>
</body>
</html>
